#mypic {
    width: 200px;
}
body { background: #e1f3f1; padding: 50px;}
h1, h2, h3 {color: #1d1184; font-family: sans-serif;}

#introduction h2 { font-style: italic;}
#introduction p { font-size: 120%;}

.navigation {
display: flex;
gap: 40px;
}

.navigation-list{
  margin: 0;
  padding-left: 20px;
}