
body {
    min-height: 100vh;
    padding: 50px;
    margin: 0;
}

body.day {
    background: url("../exercises/images/cozyforestcabin.jpg") center/cover no-repeat fixed;
    background-color: #e1f3f1;
}


body.night {
  
    background: url("../exercises/images/cozyforestcabinnight.jpg") center/cover no-repeat fixed; 
    background-color: #02091a;
}


p {
    color: black;
    background: lightblue;
}

h1 {
    color: lightblue;
    font-family: sans-serif;
    background: black;
    width: 200px;
}


#cloud {
    width: 200px;
    position: absolute;
    top: 8px;
    left: 50%;
}

#cloud2 {
    width: 200px;
    position: absolute;
    top: 17px;
    left: 4%;
}

#tree {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cabinman {
    width: 60px;
    position: absolute;
    top: 45%;
    left: 60%;
}

#output1 {
    color: white;
}

#boudy {
    color: whitesmoke;
    background-color: lightblue;
}

#talking {
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 6px 10px;
    display: inline-block;
    margin-top: 10px;
}