
body {
    background: url("../exercises/images/cozyforestcabin.jpg") center/cover no-repeat fixed;
    min-height: 100vh;
    padding: 50px;
    background-color: #e1f3f1; 
}

p { color: black; background: lightblue; }
h1 { color: lightblue; font-family: sans-serif; background: black; width: 200px; }


#cloud {
    width: 200px;
    position: absolute;
    top: 8px;
  left: 50%;
}

#cloud2 {
  width: 200px;
  position: absolute;
  top: 17px;
  left: 4%;
}

#tree {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
}

#cabinman {
  width: 60px;
  position: absolute;
  top: 45%;
  left: 60%;
  cursor: pointer; 
}

#output {color: white;}
#boudy {
    color: whitesmoke;
    background-color: lightblue;
}

.nice-block {
  height: 40px;
  overflow: hidden;
  width: 280px;
  padding: 10px;
  background: pink;
  margin: 20px 0;
  border-radius: 8px;
}

.more {
  height: auto;
  overflow: visible;
}

.nice-block span {
  cursor: pointer;
  color: darkviolet;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 6px;
}

#jhon-name {
  color: lightgoldenrodyellow;
  text-decoration: underline;
  cursor: pointer;
}






