body {
    background: url("../exercises/images/cozyforestcabin.jpg") center/cover no-repeat fixed;
    min-height: 100px;
    padding: 50px;
    background-color: #e1f3f1; 
}

body.day {
    background: url("../exercises/images/cozyforestcabin.jpg") center/cover no-repeat fixed;
    background-color: #e1f3f1;
}

body.night {
  
    background: url("../exercises/images/cozyforestcabinnight.jpg") center/cover no-repeat fixed; 
    background-color: #02091a;
}


.info-row {
  display: flex;
  max-width: 200px;
  margin: 20px auto;
  gap: 4px;              
  font-family: Arial, sans-serif;
}

.info-box {
  flex: 1;              
  padding: 8px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid #333;
}


.box1 { background-color: #ffe66d; }  
.box2 { background-color: #b5ff7a; }  
.box3 { background-color: #ff9cf2; }  




p { color: black; background: lightblue; }
h1 { color: lightblue; font-family: sans-serif; background: black; width: 200px; }



#cloud {
    width: 200px;
    position: absolute;
    top: 8px;
    left: 50%;
}

#cloud2 {
    width: 200px;
    position: absolute;
    top: 17px;
    left: 4%;
}

#tree {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
}


#cabinman {
    width: 60px;
    position: absolute;
    top: 45%;
    left: 60%;
}

#output1 {
    color: white
    ;
}


#boudy {
    color: whitesmoke;
    background-color: lightblue;

}

#para {
    color: pink;
    margin: 100px;


}


